@import "about.css";



.about_block {  
    text-align: center;
}

.youtube {
    display: block;
}

.contact_info {   
    text-align: center;
}

.address_frames {
    display: flex;
    justify-content: space-around;
    align-items: center;
}