@import "cart.css";


.cards_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_item {
    display: flex;
    flex-direction: column;
    width: 320px;
    box-shadow: 0px 0px 15px #a7a7a7;
    border-radius: 6px;
    overflow: hidden;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    
}

.card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_item a {
    display: block;
    text-decoration: none;
    width: 132px;
    text-align: center;   
    border: 0;
    background-color: #fc2;
}

.card_image {
    width: 320px;
    height: 320px;
    object-fit: cover;
}


.modal {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px rgb(192, 192, 192); 
    text-align: center;
    background-color: white;
}

.modal button {
    border: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../img/close.png);
    position: absolute;
    top: 20px;
    right: 40px;
}