@import "product.css";
@import "cart.css";
@import "about.css";
@import "table.css";
@import "indent.css";
@import "header&nav.css";
@import "fonts.css";
@import "footer.css";
@import "inputs&btn.css";


body {
    background-color: #eee;
}

.container {
    width: 1200px;
}

a {
    color: inherit;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.news main {
    display: flex;
    align-items: center;
    height: 700px; 
    background: url("../img/bg_header.png") no-repeat 80% 0;
}

.login_header {  
    text-align: center;
}

.hidden {
    display: none;
}

.page_404 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_box {
    text-align: center;
}

.acc_ad {
    text-align: center;
}

.select_box {
    position: relative;
}
