@import "product.css";


.product_images {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 350px 200px;
    grid-gap: 20px;
}

.product_images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 0;
}

.product_images img:first-child {
    grid-column: span 2;
}

.product_wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.add_product_form {
    width: 700px;
}

.add_product_form textarea {
    height: 300px;
    resize: none;
 
}