mixin nav 
    div(class="container")
        nav
            a(href="/")
                img(src="/img/logo.png" alt="" width="100")
            ol.nav_menu.m_hidden
                li
                    a(href="/products") Products
                li
                    a(href="/about") About
                li  
<<<<<<< HEAD
                    a(href="/auth/login") Sign in 
            .m_menu.hidden
                i.bx.bx-menu.m_click
    script(src="./js/index.js") 
=======
                    a(href="/auth/login" ) Sign in 
>>>>>>> 4104f62e823667ccc543dee52493a7857db7b067
