include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
    +head("Sign in")
    body
        .wrapper
            header 
                +nav
            .content.page_404
                .page_box 
                    h1(class="page404") 404 page not found :(
                    p It looks like something went wrong ...
<<<<<<< HEAD
                    a(href="/") Go to home page "GO HOME :) next time "
=======
<<<<<<< HEAD
                    a(href="/") Go to home page "GO HOME :) next time " Razor
=======
                    a(href="/") Go to home page "GO HOME :) next time SHAMS "
>>>>>>> d0e352d7b93cf733bea48b86bae24be33cd5781f
>>>>>>> 4104f62e823667ccc543dee52493a7857db7b067
            +footer
        script(src="/js/index.js")         